@charset "UTF-8";

body{
	margin: 0px;
	padding: 0px;
}

#mainTitle{
	background-color: black; 
	color:white;
	margin: 0px;
	padding: 0px;
	text-align: center;
	font-size: 50px;
	font-weight: bolder;
	
}

 #blist {
	margin: auto;
 	margin-top : 30px;
 	margin-bottom : 30px;
	width : 70%;
	border-collapse: collapse; 
} 

th, td{
	
	border: 1px solid;
	text-align: center;
}

.allNoti{
	background-color: rgb(231, 226, 188);
}
.Noti{
	background-color: rgb(176, 205, 240);
}
